/*
* Grid layout
*/

.grid {
    display: grid;
}
.centered {
    place-items: center;
}

/*
* Flexbox layout
*/

.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}

.align-content-start {
    align-content: start;
}
.align-items-start {
    align-items: start;
}
.justify-content-start {
    justify-content: start;
}
.justify-items-start {
    justify-items: start;
}

.align-content-center {
    align-content: center;
}
.align-items-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}
.justify-items-center {
    justify-items: center;
}

.justify-content-between {
    justify-content: space-between;
}
